# Зависимости
node_modules/

# Собранный финальный проект (собирается сервером)
dist/
.vite-temp/

# Локальные файлы операционных систем
.DS_Store
Thumbs.db

# Игнорируем ТЯЖЕЛЫЕ исходники фотографий
raw_photos/

# НО разрешаем Git отслеживать легкие оптимизированные фото и JSON
!public/gallery/
!public/photos.json
!public/images/

# Локальные переменные окружения
.env
.env.*
!.env.example